{% extends "layout.html" %}
{% block content %}


<div id="theorem">
    <table class="table table-dark">

        <tr>
            <th>Title</th>
            <th>Course</th>
            <th>Chapter</th>
            <th>Progress</th>
            <th>Practice</th>
            <th>Delete?</th>
        </tr>
        {%for theorem in theorems %}
        {% if theorem.difficulty == "Easy" %}
        <tr class="green">
        {% elif theorem.difficulty == "Difficult" %}
        <tr class="yellow">
        {% else %}
        <tr class="red">
        {% endif %}        

            <td style='width: 30%;'> {{ theorem.title }} </td>
            <td> {{ theorem.course }} </td>
            <td> {{ theorem.chapter }} </td>
            <td> {{ theorem.progress }} </td>
            <td><form action="{{ url_for('mathpractice.practice_theorem', theorem_id=theorem.id) }}" method="POST">
                <input class="btn btn-light" type="submit" value="&#10004">
            </form>            </td>
            <td><form action="{{ url_for('mathpractice.delete_theorem', theorem_id=theorem.id) }}" method="POST">
                <input class="btn btn-light" type="submit" value="&#10060">
            </form>            </td>

        </tr>
        {% endfor %}

    </table>

</div>



{% endblock content %}