{% extends "layout.html" %}
{% block content %}

<!-- Script for loading latex-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
         equationNumbers: {  autoNumber: "AMS"  },
         extensions: ["AMSmath.js", "AMSsymbols.js", "autobold.js", "color.js"]
      }
    });
    </script>
    <script type="text/javascript"
     src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

<script>
function showProof() {
  var x = document.getElementById("proof");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
function showHint() {
  var x = document.getElementById("hint");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<div>
    <div class='row'>
        <h4 class='col'>Theorem: {{theorem.title}}</h4>
        <h4 class='col'>Course: {{theorem.course}}</h4>
        <h4 class='col'>Chapter: {{theorem.chapter}}</h4>
    </div>
    <hr>
    <div id="theorem">
     {{theorem.theorem_latex}}
    </div>    

    <hr style="border: 2px solid blue">

    <div id='buttons'>
        <button onclick="showHint()" class="btn btn-primary">Show Hint</button>
        <button onclick="showProof()" class="btn btn-primary">Show proof</button>
        <a href="{{url_for("mathpractice.update_theorem",theorem_id=theorem.id)}}" class="btn btn-primary"> Modify Theorem</a>
    </div>

    <div class='hidden-items'>
        <div id="hint" style="display:none;">
            <h2>Hint:</h2>
            {{theorem.hint}} 

        </div>
        <div id="proof" style="display:none;">
            <h2>Proof:</h2>
            {{theorem.proof_latex}} 

        </div>
    </div>  
    <div class="theorem-progress row">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class='col'>
          {{ form.progress.label(class="progress-label") }}:  
          {% if form.progress.errors %}
              {{ form.progress(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.progress.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {% for subfield in form.progress %}
              <div class="btn btn-info">
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
              </div>
              {% endfor %}
          {% endif %}
        </div>
        <h1> {{left}} Theorems left </h1>
        <div class='progress-buttons row'>
          <div class="form-group col">
            {{ form.submit_next(class="btn btn-outline-info") }}
          </div>
          <div class="form-group col">
            {{ form.submit_random(class="btn btn-outline-info") }}
          </div>
        </div>
    </form>

  </div>      
</div>



{% endblock content %}